<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
 <style>
  body{
  background:url("https://i.pinimg.com/originals/85/e1/c0/85e1c0161e9c0d4fe926550d7c6b26e0.jpg") no-repeat  fixed;
  background-size:cover;

  }

</style>

<body>

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PetHome</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>

      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>

<div style="margin-top:12%">
    <center>
          <p style="color:white;font-size:5vw;">Pet Boarding Management</p>
          <p style="color:white;font-size:2.3vw;margin-top:-1%" class="lead">
           Get details of your pet for every activity !
          </p>
          <div class="buttons">
            <a href="/petowner" class="btn btn-primary btn-lg">Pet Owner</a>
              <a href="/shopowner" class="btn btn-success btn-lg">Shop Owner</a>

          </div>



</body>
</html>
