<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pet Owner Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
 <style>
  body{


  }
  .card{
  margin-top:5% !important;
  color:white;
  height:80px;
  font-size:130%;
  }

</style>

<body>

<nav class="navbar navbar-inverse navbar-dark bg-dark ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PetHome</a>
    </div>
    <ul class="nav navbar-right " >
      <li ><a class="navbar-brand" href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<center style="margin-top:2%;margin-bottom:-2%"><b><h1 style="color:#7B33FF"><--------- Choose an Option ---------></h1></b></center>
  <div style="margin-top:5%;max-width:70%;margin-left:auto;margin-right:auto;margin-bottom:2%">
    <a href="/addpetowner">
        <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Add Details of a New Pet-Owner and a Pet</p>
      </div>
    </div>
    </a>
     <a href="/getallpetowners">
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text">Add a New Pet of Existing Pet-Owner</p>
      </div>
    </div>
     </a>
    <a href="/getpetdetails">
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Add a Pet-Activity</p>
      </div>
    </div>
      </a>
    <a href="/getapetowner">
        <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Edit Pet-Owner Info</p>
      </div>
    </div>
    </a>
    <a href="/getallthepets">
        <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text">Add Board-Details of Existing Pet</p>
      </div>
    </div>
    </a>
    <a href="/getalldetails">
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Check Boarding Details</p>
      </div>
    </div>
    </a>
      <a href="/addpetfood">
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text">Add or Delete a Pet-Food</p>
      </div>
    </div>
          </a>
    <a href="/addpetgroom">
       <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Add or Delete a Groom-Category</p>
      </div>
    </div>
    </a>
    <a href="/addpetgame">
      <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Add or Delete a Game-Category</p>
      </div>
    </div>
    </a>

  </div>
</div>


</body>
</html>
